
<div class="sidebar-menu-inner">
    <header class="logo-env">
        <!-- logo -->
        <div class="logo">
            <a href="index.html" class="logo-expanded">
                <img src="../assets/images/logo@2x.png" width="100%" alt="" />
            </a>
            <a href="index.html" class="logo-collapsed">
                <img src="../assets/images/logo-collapsed@2x.png" width="40" alt="" />
            </a>
        </div>
        <div class="mobile-menu-toggle visible-xs">
            <a href="#" data-toggle="user-info-menu">
                <i class="linecons-cog"></i>
            </a>
            <a href="#" data-toggle="mobile-menu">
                <i class="fa-bars"></i>
            </a>
        </div>
    </header>
    <ul id="main-menu" class="main-menu">
        <li>
            <a href="javascript:void(0)" class="smooth" (click)="clickItem('常用推荐')">
                <i class="linecons-star"></i>
                <span class="title">常用推荐</span>
            </a>
        </li>
        <li>
            <a href="javascript:void(0)" class="smooth" (click)="clickItem('社区资讯')">
                <i class="linecons-doc"></i>
                <span class="title">社区资讯</span>
            </a>
        </li>
        <li>
            <a (click)="clickItem('灵感采集')">
                <i class="linecons-lightbulb"></i>
                <span class="title">灵感采集</span>
            </a>
            <ul>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">发现产品</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">界面灵感</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">网页灵感</span>
                        <span class="label label-pink pull-right hidden-collapsed">Hot</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="clickItem('素材资源')">
                <i class="linecons-thumbs-up"></i>
                <span class="title">素材资源</span>
            </a>
            <ul>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">图标素材</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">LOGO设计</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">平面素材</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">UI资源</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">Sketch资源</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">字体资源</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">Mockup</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">摄影图库</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">PPT资源</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="clickItem('常用工具')">
                <i class="linecons-diamond"></i>
                <span class="title">常用工具</span>
            </a>
            <ul>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">图形创意</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">界面设计</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">交互动效</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">在线配色</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">在线工具</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">Chrome插件</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a (click)="clickItem('学习教程')">
                <i class="linecons-pencil"></i>
                <span class="title">学习教程</span>
            </a>
            <ul>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">设计规范</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">视频教程</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">设计文章</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">设计电台</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)" class="smooth">
                        <span class="title">交互设计</span>
                        <span class="label label-pink pull-right hidden-collapsed">Hot</span>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:void(0)" class="smooth" (click)="clickItem('UED团队')">
                <i class="linecons-user"></i>
                <span class="title">UED团队</span>
            </a>
        </li>
        <div class="submit-tag">
            <a href="javascript:void(0)">
                <i class="linecons-heart"></i>
                <span class="tooltip-blue">关于本站</span>
                <span class="label label-Primary pull-right hidden-collapsed">♥︎</span>
            </a>
        </div>
    </ul>
</div>
