<div class="sidebar-menu-inner">
  <header class="logo-env">
    <!-- logo -->
    <div class="logo">
      <a href="javacript:void(0);" class="logo-expanded">
        <img src="../assets/images/logo.png" class="sidebar-img" />
        <span style="color: #ffffff;padding-left: 5px;">研发部导航</span>
      </a>
      <a href="javacript:void(0);" class="logo-collapsed">
        <img src="../assets/images/logo.png" class="sidebar-img" />
      </a>
    </div>
    <div class="mobile-menu-toggle visible-xs">
      <a href="#" data-toggle="user-info-menu">
        <i class="linecons-cog"></i>
      </a>
      <a href="#" data-toggle="mobile-menu">
        <i class="fa-bars"></i>
      </a>
    </div>
  </header>
  <ul id="main-menu" class="main-menu">
    <li *ngFor="let menu of menus">
      <a [href]="menu.href" class="smooth">
        <i class="linecons-user"></i>
        <span class="title">{{menu.name}}</span>
      </a>
    </li>
  </ul>
</div>
